
var map_icons = [];
var map_image_urls = []

$(document).ready(function() { 		
  setupFilenames();
  setupIcons();
});

// This ERB script is necessary to work with the asset pipeline images
function setupFilenames() {
  <% ((-16..-1).to_a + (1..30).to_a).each do |i| %>
    map_image_urls[<%= i %>] = '<%= image_path "findgoplayers.com/go#{i}.png" %>';
  <% end %>
}

function setupIcons() {
  for (var i = -16; i < 31; i++) {
    image = new google.maps.MarkerImage(map_image_urls[i], null, null, new google.maps.Point(16, 16), new google.maps.Size(32,32));
/*
    image = {
  url: map_image_urls[i],
  size: null,
  origin: null,
  anchor: new google.maps.Point(0, 16),
  scaledSize: new google.maps.Size(32, 32)
};
*/
    map_icons[i] = image;

  }
}


var clubIconImage = '<%= image_path "findgoplayers.com/group.png" %>';

function mapIcon(user) {

  if (user.user_type == 0) {
    return map_icons[user.rank];
  }
  else {
    return new google.maps.MarkerImage(clubIconImage, null, null, new google.maps.Point(16, 16), new google.maps.Size(32,32));
  }
}

