<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
</style>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{@gmaps_api_key}&sensor=true" %>
<%= javascript_include_tag 'edit_user_location' %>

<div class="main user-edit">

  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <section class="hgroup">
  <div class="container">
    <h1>My Account</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li class="active">My Account</li>
    </ul>
  </div>
  </section>

  <section class="map-section" style="height: 250px;">
  <div class="container" style="height: 80%; width: 100%;">
    <h4>Location (click on the map)</h4>
    <div id="map-canvas" style="height: 100%; width: 100%;"/></div>
  </div>
  </section>

  <%= render partial: "#{@template}/edit_user_form" %>

  <!--%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %-->

</div>

<% if current_user.location_timestamp.present? %>
  <%= javascript_include_tag 'registrations_has_latlng' %>
<% else %>
  <%= javascript_include_tag 'registrations_no_latlng' %>
<% end %>


<%= javascript_include_tag 'registrations_edit' %>
