
<div class="main">

  <section class="hgroup"><div class="container">
    <h1>Register or Sign in</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="index.html">Home</a> </li>
      <li class="active">Register or Sign in</li>
    </ul>
  </div></section>

  <section>
<div class="container"><div class="row">
  <%= devise_error_messages! %>
      <div class="col-sm-6 col-md-6"><div class="signin">

          <div class="social_sign">
            <h3>Sign in with your social account</h3>
            <a class="fb" href="<%= omniauth_authorize_path(resource_name, 'facebook') %>"><i class="fa fa-facebook"></i></a>  
            <a class="gp" href="<%= omniauth_authorize_path(resource_name, 'google_oauth2') %>"><i class="fa fa-google-plus"></i></a>
          </div>

          <div class="or">
            <div class="or_l"></div>
            <span>or</span>
            <div class="or_r"></div>
          </div>

          <p class="sign_title">Log in with your site account</p>

          <div class="row">
            <div class="col-lg-2"></div>
            <div class="form col-lg-8">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <%= f.email_field :email, { class: 'form-control', placeholder: 'Email' } %>

                  <%= f.password_field :password, { class: 'form-control', autocomplete: "off", placeholder: 'Password' } %>
                  <div class="forgot">
                    <div class="checkbox">
                      <label class="">
                        <% if devise_mapping.rememberable? -%>
                          <%= f.check_box :remember_me %> Remember me
                        <% end -%>
                      </label>
                    </div>
                    <a href="<%= new_password_path(resource_name) %>">Forgot password?</a>
                  </div>
                  <div><%= f.submit "Sign in", class: "btn btn-primary btn-lg" %></div>
                <% end %>
              </div>
              <div class="col-lg-2"></div>
            </div>

        </div></div>

        <div class="col-sm-6 col-md-6"><div class="signup">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <fieldset>
                <div class="social_sign">
                  <h3>Don't have a site account yet?</h3>
                  <a><i class="fa fa-user"></i></a>
                </div>
                <p class="sign_title">Create one now, it's fast &amp; free!</p>

                  <%= f.email_field :email, { class: 'form-control', placeholder: 'Email' } %>

                  <%= f.password_field :password, { class: 'form-control', autocomplete: "off", placeholder: 'Password' } %>
                  <%= f.password_field :password_confirmation, { class: 'form-control', autocomplete: "off", placeholder: 'Confirm Password' } %>
 

                  <button type="submit" class="btn btn-success btn-lg">Create your account</button>
              </fieldset>
            <% end %>

        </div></div>
    </div></div>
    </section>

  <footer>

  <section id="footer_teasers_wrapper">
  <div class="container">
    <div class="row">
      <div class="footer_teaser col-sm-3 col-md-3">
        <h3>Legal information</h3>
        <p><i class="fa fa-folder-open"></i> <a href="/privacy.txt">Privacy Policy</a></p>
        <p><i class="fa fa-folder-open"></i> <a href="/terms.txt">Terms & Conditions</a></p>
      </div>

 
    </div>
  </div>
  </section>

  <section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6"> Copyright ©2013 all rights reserved </div>
    </div>
  </div>
  </section>
  </footer>



    </div>
