  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <style type="text/css">
    html,
    body { height: 100%; }

    body { padding-top: 111px; }

    div#map-canvas {
      height:  100%;
      overflow:  hidden;
      position: relative;
      top: -111px;
      border: 1px solid #bababa;
    }

    header {
      height:111px;
      position: relative;
      bottom: 111px;
    }

    .alert {
        bottom: 111px;
          position: relative;
     }

  </style>

  <script>
    if ( $.browser.mozilla) {
      $('body').css('overflow', 'hidden');
    }
  </script>


    <%= render 'shared/feed' if current_user.present?  %>

    <div id="map-canvas" class: "users-index" /></div>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{@gmaps_api_key}&sensor=true" %>
    <%= javascript_include_tag 'markerclusterer_compiled' %>

    <%= javascript_include_tag "#{@template}/map" %>
    <%= javascript_include_tag 'map' %>
