<div class="main">

  <section class="hgroup"><div class="container">
    <h1>Send a message to <b><%= @user.name_and_rank %></b></h1>
    <ul class="breadcrumb pull-right">
      <li><a href="index.html">Home</a> </li>
      <li class="active">Send message</li>
    </ul>
  </div></section>


  <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="signin">
          <%= form_tag("/users/#{@user.id}/post_message", method: 'post') do %>
            <div class="form-group">
              <%= text_area_tag :message, nil , { placeholder: 'Your Message Here',  autofocus: true, rows: 6,  class: 'form-control'} %>
            </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <%= submit_tag "Send", class: "btn btn-primary" %> <% end %>
      </div>
    </div>
  </div>
  </section>

