
<div>
  <b>
    <%= @display_name %>
  </b>
</div>

<div>
  <p>
  <%= html_escape(@user.blurb).gsub(/\n/, '<br/>').html_safe %>
  </p>
</div>

<% if @user.club? %>
  <div>
    <p>
    <a href="<%= @user.url %>"><%= @user.url %></a>
    </p>
  </div>
<% end %>

  <div>
    <%= form_tag("/users/#{@user.id}/new_message", method: 'get') do %>
      <%= submit_tag "Send message", class: "btn btn-primary btn-xs" %> 
    <% end %>

    <% if user_signed_in? %>
      <button type="button" id="<%= @user.id %>" class="btn btn-info btn-xs load-conv"> <%= "#{@conv_count} Local conversations" %> </button>
    <% else %>
      <a href= "/users/sign_in">
        <button type="button" id="<%= @user.id %>" class="btn btn-info btn-xs load-conv"> <%= "#{@conv_count} Local conversations" %> </button>
      </a>
    <% end %>



  </div>
