<%= devise_error_messages! %>
<div class="main">

<section class="hgroup">
<div class="container">
<h1>Change your password</h1>
<ul class="breadcrumb pull-right">
<li><a href="/">Home</a> </li>
<li class="active">Change password</li>
</ul>
</div>
</section>

<section>
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-6">
<div class="signin">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
  </div>

</div>
</div>
</div>
</div>
</section>

<section>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10">
      <%= f.submit "Change my password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</section

</div>
