
  <%= devise_error_messages! %>
<div class="main">

  <section class="hgroup"><div class="container">
    <h1>Forgot your password?</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li class="active">Send password reset email</li>
    </ul>
  </div></section>


  <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="signin">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

            <div class="form-group">
              <%= f.email_field :email, { placeholder: 'Your email address', class: 'form-control', autofocus: true } %>
            </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-10">
        <%= f.submit "Send reset password email", class: "btn btn-primary"%>
      <% end %>
      </div>
    </div>
  </div>
  </section

</div>

