<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<title><%= @title %></title>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- script src="http://code.jquery.com/jquery-latest.min.js"></script-->
<!--script>window.jQuery || document.write('<script src="/assets/restart/jquery-1.9.0.min.js"><\/script>')</script-->


<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic" rel="stylesheet" type="text/css">

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<!-- %= #javascript_include_tag "twitter-bootstrap/js/bootstrap.min.js" %-->
<!--%= stylesheet_link_tag "style.css" %-->
<!--%= stylesheet_link_tag "fonts/font-awesome/css/font-awesome.min.css" %-->

<!--[if IE 7]>
    <link rel="stylesheet" href="fonts/font-awsome/css/font-awesome-ie7.min.css">
    <![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="apple-touch-fa-57x57-precomposed.png">
<link rel="shortcut icon" href="/favicon.png">
</head>

