
<div class="container">

  <a class="navbar-brand" href="/">
  <%= image_tag "#{@template}/logo.png", alt: 'Find Go Players' %>
 </a>
    <span class="logo_title">Find <strong>Go</strong> players</span>
    <span class="logo_subtitle"></span>
 

  <div class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
      <a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="nb_left pull-left"> 
          <span class="fa fa-reorder"></span> 
        </span> 
        <span class="nb_right pull-right">menu</span> 
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav pull-right navbar-nav">
        <li><a class="no-decoration" href="/how_it_works">How it works</a></li>
        <li><a class="no-decoration" href="/hire_me">Hire me</a></li>
      </ul>
    </div>

  </div>


    <!-- Place this tag where you want the share button to render. -->
 </div>

  <% if user_signed_in? %>
    <div id="sign"><a href="/signout"><i class="fa fa-user"></i>Sign out</a></div>
    <div id="acct"><a href="/account"><i class="fa fa-user-md blue"></i>Account</a></div>
  <% else %>
    <div id="sign"><a href="/users/sign_in"><i class="fa fa-user"></i>Register/Sign in</a></div>
  <% end %>
</div>

