
<li id="<%= comment.id %>" class="comment">

<div class="comment-header">
  <%= image_tag avatar_url(comment.user), alt: 'User avatars coming soon', id: comment.user.id, class: "user-link comment-#{comment.id}" %>

<span class = "comment-time"> <%= time_difference(comment.created_at) %> </span>
  <div class="comment-name-text">
    <h5>
    <span> 
      <a id="<%= comment.user.id %>" class="user-link comment-<%= comment.id%>"><%= comment.user.display_name %></a>
    </span>
    </h5>
    <span class="user-location">
      <%= comment.user.loc_string %>
    </span>

  </div>
</div>
   <span class = "conversation-text"><%= comment.text %></span>

</li>

