
<script>
		$('body').append('<div id="autoResizeTextareaCopy" style="box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box; -webkit-box-sizing: border-box; visibility: hidden;"></div>');
		var $copy = $('#autoResizeTextareaCopy');
</script>
<%= render partial: 'shared/new_conversation' %>
<%= render partial: 'shared/conversations_loop' %>

