
<% @conversations.each do |conversation| %>
  <div id="<%= conversation.id %>" class="conversation">

    <% conversation.comments.sort_by(&:created_at)[0..(Conversation::DEFAULT_COMMENTS - 1)].each_with_index do |comment, i| %>

      <% if i == 0 %>
        <%= render 'shared/origin', {conversation: conversation, comment: comment, likes_count: conversation.likes_count} %>
        <ul id="<%= conversation.id %>" class="conversation-comments">
      <% else %>
        <%= render 'shared/comment', { comment: comment} %>
      <% end %>
    <% end %>

    <% if conversation.comments.count > Conversation::DEFAULT_COMMENTS %>
      <li id="<%= conversation.id %>" class='load-comments' >
      <button id="<%= conversation.id %>" type="button" class="load-comments btn btn-primary btn-xs">
        Show all <%= conversation.comments.count - 1 %> comments
      </button> 
      </li>

      <script>
        $('button#<%= conversation.id %>.load-comments').click(function(event) {
          loadComments(<%= conversation.id %>);
        });
      </script>


    <% end %>

    </ul>

    <div class="new-comment-container">
      <%= image_tag avatar_url(current_user), alt: 'User avatars coming soon'%>
      <%= text_area_tag( nil,  nil, { placeholder: "Write a comment...", id: conversation.id, class: 'new_comment form-control' } ) %>
    </div>

    <script>
     // per conversation bindings
      $('textarea#<%= conversation.id %>.new_comment').autoResize();  
      $('textarea#<%= conversation.id %>.new_comment').keydown(function(event) {
        if (event.keyCode == 13) {
          submitComment(<%= conversation.id %>, <%= current_user.id %>);
          return false;
        }
      });

 
      $('div#<%= conversation.id %>.likes span.star-icon').click(function() {
        like_toggle(<%= conversation.id %>);
      });

    </script>

  </div>
<% end %>

<% @participants.each do |participant| %>
  <script>
    participantSelector = $("#<%= participant.id %>.user-link");
    participantSelector.bind('click', function() { 
      map.setZoom(14);
      fetchUserInfo(<%= participant.id %>, userMarkersArray[<%= participant.id %>]);
    });
  </script>

<% end %>

<script>
  //Run once for the rendered conversations
  $('.star-icon').tooltip();
  // Safari and chrome show excess 
  $('div#autoResizeTextareaCopy').css('display', 'none');
</script>

<% if @more_pages %>
 <% 
    if @target_user.present? 
      @page_scroll_url = "/users/#{@target_user.id}/conversations.html?page=#{@next_page}"
    elsif 
      @page_scroll_url = "/conversations/top.html?page=#{@next_page}"
    end 
  %>
  <a href='<%= @page_scroll_url.html_safe %>' class='jscroll-next' style='display: none;'></a>
<% end %>

