
<%= stylesheet_link_tag "animate.min" %>
<%= stylesheet_link_tag "conversations" %>

<div class="conversations-section">

  <ul class="nav nav-tabs conversations-nav">

    <li id="home">
    <a data-toggle="tooltip" data-placement='bottom' title="Conversations local to You">
      <i class="fa fa-home"></i>
    </a></li>

    <li id="top">
    <a data-toggle="tooltip" data-placement='bottom' title="Top trending conversations">
      <i class="fa fa-star"></i>
    </a></li>

    <li id="user" style="display: none;">
    <a data-toggle="tooltip" data-placement='bottom' title="">
      <i class="fa fa-user"></i>
      <span id="#display-name"></span>
    </a></li>

  </ul>


  <div class="conversations-container"></div>

  <script>
    $('ul.conversations-nav li a').tooltip();
    $('ul.conversations-nav li#home a').click(function() {
      show_nav_tab('home');
    });
    $('ul.conversations-nav li#top a').click(function() {
      show_nav_tab('top');
    });

    show_nav_tab('home');
  </script>
</div>


