
<div id="new" class="conversation">
  <textarea rows="2" id="new_conversation" class="form-control" placeholder="Start a local conversation..."></textarea>
  <button type="button" id="new_conversation" class="btn btn-primary btn-sm">Create</button>

  <div id="create" class="liveurl-loader"></div>

  <div id="create" class="liveurl hiddenclass">
    <div class="close" title="Close preview"></div>
    <div class="inner">

      <div class="image hiddenclass"> </div>
      <div class="details">

        <div class="info">
          <div class="title"> </div>
          <div class="description"> </div> 
          <div class="url"> </div>
        </div>

        <div class="thumbnail">
          <div class="pictures">
            <div class="controls">
              <div class="prev button inactive"></div>
              <div class="next button inactive"></div>
              <div class="count">
                <span class="current">0</span><span> von </span><span class="max">0</span>
              </div>
            </div>
          </div>
        </div>

        <div class="video hiddenclass"></div>
      </div>

    </div>
  </div>

  <script> 
    $('textarea#new_conversation').autoResize();  
    $('button#new_conversation').bind( 'click', submitConversation);
    attachLiveURL();
  </script>

</div>

