
<div class="origin-container">
  <div id="<%= comment.user.id %>" class="comment origin">

    <div class="origin-header">
      <%= image_tag avatar_url(comment.user), id: comment.user.id, class: 'user-link' %>
      <div class="origin-name-time">

       <span class = "comment-time"> <%= time_difference(comment.created_at) %> </span>
        <h5>
          <span> 
            <a id="<%= comment.user.id %>" class="user-link"><%= comment.user.display_name %></a>
          </span>
        </h5>
        <span class="user-location">
          <%= comment.user.loc_string %>
        </span>
 
      </div>
    </div>

    <div id="<%= conversation.id %>" class="likes">
      <div class="ani-container"> <span class="like-animation"></span></div>
      <span data-toggle="tooltip" data-placement="left" title="<%= like_toggle_text(conversation) %>" class="star-icon fa fa-star <%= like_class(conversation) %>"></span>
      <span class="likes-count">
        <%= likes_count %>
      </span>
    </div>
    <span class = "origin-comment-text"><%= html_escape(comment.text).gsub(/\n/, '<br/>').html_safe %></span>

  </div>

  <% if comment.url %>
    <div id="<%= comment.id %>" class="liveurl">
      <div class="inner">

        <div class="image"><%= image_tag comment.url_thumbnail, class: "active" %></div>
        <div class="details">

          <div class="info">
            <div class="title"><%= comment.url_title %></div>
            <div class="description"><%= comment.url_description %></div> 
            <div class="url"><%= comment.url %></div>
          </div>

          <div class="thumbnail">
            <div class="pictures">
            </div>
          </div>

          <div class="video"></div>
        </div>

      </div>
    </div>

    <script>
      $('#<%= comment.id %>.liveurl').click(function () {
        window.location = "<%= comment.url %>"; 
      });
      $('#<%= comment.id %>.liveurl').hover(function() {
        $(this).css('cursor','pointer');
      });

    </script>
  <% end %>




</div>


