<div class="main">
  <section class="hgroup"><div class="container">
    <h1>Contact us</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li class="active">Contact</li>
    </ul>
  </div></section>

  <section><div class="container">
    <div class="row">

      <div class="office_address col-sm-4 col-md-4">
        <address>
          <strong>Twitter, Inc.</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">first.last@example.com</a>
        </address>
      </div>
 
     <div class="contact_form col-sm-8 col-md-8">
        <form>
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Name</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-sm-4 col-md-4">
              <label>E-mail</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-sm-8 col-md-8">
              <label>Subject</label>
              <input class="form-control" type="text">
            </div>
            <div class="col-sm-8 col-md-8">
              <label>Message</label>
              <textarea rows="8" class="form-control"></textarea>
            </div>
            <div class="col-sm-8 col-md-8"><br/><a class="btn btn-success btn-lg"><span>Submit Message</span></a> </div>
          </div>
        </form>
      </div>
    </div>
  </div></section>



