<div class="main">


  <section class="hgroup"><div class="container">
    <h1>Hire me</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li class="active">Hire me</li>
    </ul>
  </div></section>


  <section class="service_teaser"><div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8">
        <h3 class="custsoft_title" >I build custom business software.</h3>
        <p class="custsoft_p">
        With over 16 years of experience in software and linux systems 
        administration, I'm ready to handle your short to long-term development needs.
        </p>
        <p class="custsoft_p">
        The most important aspect of development happens before a line of code is written.
        This is when I gather requirements from the client and create user stories.
        Communication is everything when designing a new feature or app, and I will ask the
        right questions to make sure your bases are covered.
        </p>
        </div>

        <div class="teaser_photo col-sm-4 col-md-4"> 
          <%= image_tag("target.jpg", { alt: "a", class: "img-rounded" }) %>
        </div>

    </div>
  </div>
  </section>


  <section class="features_teasers_wrapper"><div class="container"><div class="row">
      <div class="service text-center col-sm-3 col-md-3">
        <figure> <i class="fa fa-cloud-download"></i> </figure>
        <div class="desc">
          <h4>Cloud API integration</h4>
          <p>Use APIs from Amazon AWS, Google, Heroku, Github, Netsuite, or you name it.  If you need a custom API for your clients, I'll write one for you.</p>
        </div>
      </div>
      <div class="service text-center col-sm-3 col-md-3">
        <figure> <i class="fa fa-bolt"></i> </figure>
        <div class="desc">
          <h4>Full-stack, full throttle.</h4>
          <p>You need to get your first version out the door while it still matters. I communicate clearly and ask the right questions so we can concentrate on the MVP.</p>
        </div>
      </div>
      <div class="service text-center col-sm-3 col-md-3">
        <figure> <i class="fa fa-group"></i> </figure>
        <div class="desc">
          <h4>My team or yours</h4>
          <p>
          I use industry-standard agile development practices to integrate quickly 
          into your team's workflow and create a clean codebase for 
          those who come after.
          </p>
        </div>
      </div>
      <div class="service text-center col-sm-3 col-md-3">
        <figure> <i class="fa fa-user-md"></i> </figure>
        <div class="desc">
          <h4>Fix what ails you.</h4>
          <p>
          Sometimes you need a precision strike to fix a problem.  Whether it's a bugfix or an 
          iterative feature for your application, I have you covered.
          </p>
        </div>
      </div>
  </div></div></section>



  <footer>

  <section id="footer_teasers_wrapper">
  <div class="container">
    <div class="row">
      <div class="footer_teaser col-sm-3 col-md-3">
        <h3>Contact info</h3>
        <p><i class="fa fa-map-marker"></i> 608 N Frisco Ave, Fayetteville, AR 72701 </p>

        <p><i class="fa fa-phone"></i> (+1) 479-856-8793</p>
        <p><i class="fa fa-envelope"></i> <a href="mailto:cthomas@railjumper.com">cthomas@railjumper.com</a></p>
      </div>

      <div class="footer_teaser col-sm-2 col-md-2">
        <h3>Resume</h3>
        <p><i class="fa fa-folder-open"></i> <a href="resume.pdf">PDF link</a></p>
      </div>

 
    </div>
  </div>
  </section>
  <section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6"> Copyright ©2013 all rights reserved </div>
    </div>
  </div>
  </section>
  </footer>
</div>

