<div class="main">

  <section class="hgroup"><div class="container">
    <h1>How it works</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li class="active">How it works</li>
    </ul>
  </div></section>

  <section class="article-text">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
      <p>
      <h3>
        <ul style="list-style-type: none">
          <li><i class="fa fa-map-marker"></i>&nbsp; Put yourself on the map.  You can create a site account or log in with facebook/google.</li><br />
          <li><i class="fa fa-crosshairs"></i>&nbsp; <%= render "#{@template}/how_it_works" %></li><br />
          <li><i class="fa fa-envelope"></i>&nbsp; Send a message.  To prevent spam, there's a daily limit of 20 messages per user.</li><br />
          <li><i class="fa fa-exclamation-circle"></i>&nbsp; We'll notify you when a new user appears within your area. You can set your notification distance in your user preferences.</li><br />
          <li><i class="fa fa-flash"></i>&nbsp; To prevent stale data, users disappear from the map 9 months from their last log-in.  We'll send one email to remind you before that happens.</li><br />
          <li><i class="fa fa-share-alt"></i>&nbsp; Tell your friends, so it can become even more useful.</li><br />
        </ul>
      </h3>
      </p>
        </div>
      </div>
    </div>
    </section>

    <footer>

    <section id="footer_teasers_wrapper">
    <div class="container">
    <div class="row">
      <div class="footer_teaser col-sm-3 col-md-3">
        <h3>Contact info</h3>
        <p><i class="fa fa-envelope"></i> <a href="mailto:cthomas@railjumper.com">cthomas@railjumper.com</a></p>
      </div>

 
    </div>
  </div>
  </section>
  <section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6"> Copyright ©2013 all rights reserved </div>
    </div>
  </div>
  </section>
  </footer>


</div>

