There's a new local <%= @user_type %> near you: 

<%= "#{@new_neighbor.nickname} (#{@rank_string})" %>
---------------------
Profile: <%= @new_neighbor.blurb %>
---------------------

You are currently set to receive messages for new users 
within <%= @user.notification_distance %> miles.  You can change this 
setting at: <%= @account_url %> 
