A user on FindGoPlayers has sent you a message:

<%= "#{@sender.nickname} (#{@sender.rank_string})   <#{@sender.email}>" %> writes:
---------------------
<%= @message %>
---------------------


If you wish to permanently block this user from sending you further messages, 
click this link: <%= @block_url %> 
