// Place all the styles related to the Conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Conversations-css


textarea#new_conversation {
  background-image: image-url('images/backgrounds/wild_oliva_light.png');
  border-style: solid;
  width: 96%;
  height: 69px;
  margin: 7px;
  border-width: 1px;
  resize: none;
}

textarea.new_comment {
    resize: none;
}

button#new_conversation {
  float: none;
  clear: none;
  position: relative;
  margin-bottom: 5px;
  left: 242px;
}

div.conversations-section {
  width: 417px;
  height: 100%;
  background-image: image-url('images/backgrounds/wild_oliva.png');
  padding-top: 1px;
  padding-bottom: 1px;
  float: left;
  position: relative;
  bottom: 111px;
  width: 343px;
  overflow: scroll;
}

div.conversations-container {
  display: block;
  overflow-x: hidden;
}

ul.nav.nav-tabs.conversations-nav {

  background-image: image-url('images/backgrounds/wild_oliva_light_head.png');
  position: relative;
  bottom: 1px;
}

.conversations-nav li a {
  
  background-image: image-url('images/backgrounds/wild_oliva_dark.png');
  color: #b4b2b2;
  
}

.conversations-nav li a:hover {
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #565656;
}

.conversations-nav li.active a {
  
  background-image: image-url('images/backgrounds/wild_oliva.png');
  color: #ffffff;
}

.conversations-nav li.active a:hover {
    color: #ffffff;
  }


.conversations-container .alert {
  visibility: visible;
  z-index: 0;
  bottom: 1px;
  border-radius: 0px;
}

div.ani-container {
  position: relative;
}

div.conversation {
  background-image: image-url('images/backgrounds/wild_oliva_light_head.png');
  padding-top: 1px;
  padding-right: 0;
  padding-left: 0;
  width: 90%;
  margin: 5%;
  border-radius: 3px;
}

div.likes {
  float: right;
}

div.likes .star-icon {
    font-size: 16px;
    margin-left: 5px;
}

div.likes .star-icon:hover {   
  cursor: pointer;
}


div.likes .star-icon.like {
  color: #fde068;
  text-shadow: 0 0 4px #000000;
}

span.likes-count {
  position: relative;
  top: 1px;
}

span.like-animation {
  z-index: 1;
  position: absolute;
  bottom: -6px;
  left: 13px;
  display: none;
}



div.comment.origin {
  width: 95%;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 8px;
}

div.origin-container {

}

div.origin-name-time {
  position: relative;
  left: 5px;
}

span.user-location {
  font-style: italic;
  font-size: 9px;
  position: relative;
  bottom: 10px;
}

span.comment-time {
  font-size: 10px;
  float: right;
  font-style: italic;
  position: relative;
  top: 1px;
}


div.comment-name-text {
  position: relative;
  left: 5px;
}

.comment-header span .user-link {
  position: relative;
}

.user-link {
  cursor: pointer;
}


.conversation ul {
  list-style-type: none;
  width: 97%;
}

.conversation ul li {
  border-top-width: 2px;
  border-top-style: groove;
  padding-top: 11px;
}
li.comment {

  margin-top: 10px;
  position: relative;
  right: 6px;

}

div.origin-header span.comment-time {
  bottom: 9px;
  position: relative;
}

img.user-link {
  float: left;
  width: 32px;
}

div.new-comment-container textarea {
  height: 36px;
  width: 83%;
  font-size: 12px;
  background-image: image-url('images/backgrounds/wild_oliva_light.png');
  display: inline;
  margin-bottom: 13px;
  top: 5px;
  position: relative;
  left: 8px;
}

div.new-comment-container img {
  width: 32px;
  position: relative;
  left: 5px;
}

/* Live URL */


div.thumbnail {
  display: none;
  height: 0;
  border-style: none;
}

.liveurl {
  width: 100%;
  overflow: hidden;
  background-image: image-url('images/backgrounds/wild_oliva_light.png');
  border-top: 1px dashed #CCC;
  margin-top: 10px;
}

.hiddenclass {
  display: none;
}

.liveurl .inner {
  margin: 15px;

  overflow: hidden;
}

.liveurl span.image {
  float: left;
  clear: none;
}



.liveurl .details {
  float: left;
  overflow: hidden;
  width: 475px;
}

.liveurl .details .info * {
  float: left;
  clear: both;
  line-height: 13px;
}


.liveurl .title {
  font-weight: bold;
}

.liveurl .url {
  font-size: 11px;
  font-weight: normal;
  color: #666;
}

.liveurl .image {
  width: 100px;
  margin: 0 10px 10px 0;
  float: left;
}

.liveurl .video {
  clear: both;
  float: left;
  margin: 10px 0 0 0;
}

.liveurl img {
  width: 100px;
  height: auto;
  display: none;
}

.liveurl img.active {
  display: block;
}

.liveurl .close {
  float: right;
  cursor: pointer;
  margin: 5px;
  text-indent:-999px;
  width: 16px;
  height: 16px;
  background:image-url('close.gif');
}

.liveurl .thumbnail {
  float: left;
  margin: 15px 0 0 0;
  clear: both;
  display: none;
}

.liveurl .thumbnail  label {
  padding: 0 0 0 5px;
  vertical-align: text-top;
}

.liveurl .button {
  width: 23px;
  height: 20px;
  float: left;
  border: 1px solid #A8A8A8;
  text-align: center;
  line-height:20px;
  background: #FFF;
  position: relative;
  cursor: pointer;
}

.liveurl .button:before {
  content: '';
  width: 0;
  position:absolute;
  left:5px;
  top: 5px;
}

.liveurl .button:active {
  border-color: #3B5998;
}

.liveurl .button.prev:before {

  border-top: 6px solid transparent;
  border-right: 12px solid #828282;
  border-bottom: 6px solid transparent;    
}

.liveurl .button.next:before {
  border-top: 6px solid transparent;
  border-left: 12px solid #828282;
  border-bottom: 6px solid transparent;    
}

.liveurl .button:active.prev:before {
  border-right: 12px solid  #3B5998;
}

.liveurl .button:active.next:before {
  border-left: 12px solid  #3B5998;
}

.liveurl .button.inactive {
  opacity: 0.5;
  filter:alpha(opacity=50);
  pointer-events:none;
  cursor: default;
}

.liveurl .count {
  float: left;
  margin: 0 0 0 10px;
  line-height: 25px;
}

.liveurl .controls {
  margin: 10px 0 0 0;    
}

.post textarea {
  width: 600px;
  height: 140px;
}

.liveurl-loader {
  display: none;
  width: 16px;
  height: 11px;
  margin: 10px 0;
  background: image-url('url-loader.gif');

}

.liveurl * {
  font: 12px/1em Tahoma, Arial, Helvetica, Segoe, sans-serif;
}

