<%= render partial: "shared/application_header" %>
<body>


<header>
<%= render partial: "shared/application_nav" %>
</header>

<%= render partial: "shared/flash_messages", flash: flash %>

<%= yield %>

<%= render partial: "shared/application_js_footer" %>
</body>
</html>


